@page "/collaboration"
@attribute [Authorize]

<PageTitle>ElevateSaaS : Collaboration</PageTitle>

<h4>Collaboration</h4>

<div class="d-inline-flex">
    <div class="alert alert-primary mt-3" role="alert">
        Collaboration content controlled by customers license ['Collaboration' feature]
    </div>
</div>