@page "/project-planning"
@attribute [Authorize]

<PageTitle>ElevateSaaS : Project Planning</PageTitle>

<h4>Project Planning</h4>

<div class="d-inline-flex">
    <div class="alert alert-primary mt-3" role="alert">
        Projects content controlled by customers license ['Projects' feature]
    </div>
</div>