@page "/advanced-reporting"
@attribute [Authorize]

<PageTitle>ElevateSaaS : Reporting Advanced</PageTitle>

<h4>Reporting Advanced</h4>

<div class="d-inline-flex">
    <div class="alert alert-primary mt-3" role="alert">
        Reporting Advanced content controlled by customers license ['ReportingAdvanced' feature]
    </div>
</div>