@page "/reporting"
@attribute [Authorize]

<PageTitle>ElevateSaaS : Reporting</PageTitle>

<h4>Reporting</h4>

<div class="d-inline-flex">
    <div class="alert alert-primary mt-3" role="alert">
        Reporting content controlled by customers license ['Reporting' feature]
    </div>
</div>