@page "/security"
@attribute [Authorize]

<PageTitle>ElevateSaaS : Security & Controls</PageTitle>

<h4>Security & Controls</h4>

<div class="d-inline-flex">
    <div class="alert alert-primary mt-3" role="alert">
        Security Advanced content controlled by customers license ['Security' feature]
    </div>
</div>