@using ZentitleSaaSDemo.Utils
@using ZentitleSaaSDemo.Zentitle
@using Auth0.AspNetCore.Authentication
@inject AuthenticationStateProvider AuthState
@inject ZentitleService Service
@inject IConfiguration Configuration
@inject AuthUserDataService AuthUserDataService
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        @if (!string.IsNullOrEmpty(_authUserData?.Picture))
        {
            <img class="user-picture me-2" src="@_authUserData?.Picture">
        }
        @_authUserData?.Username <span class="log-out btn-link" @onclick="Logout">Log out</span>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private AuthUserData _authUserData = null!;

    protected override async Task OnInitializedAsync()
    {
        _authUserData = await AuthUserDataService.GetAuthUserData();

        await Service.GetLicense();

        await base.OnInitializedAsync();
    }

    private async Task Logout()
    {
        await Service.Deactivate();
        await Service.RemoveCache();
        NavigationManager.NavigateTo(Configuration.Auth0Authentication() ? "logout" : "account/logout", true);
    }

}